<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="mysql_dev" targetRuntime="MyBatis3">

        <!--覆盖生成XML文件-->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />

        <!--注释生成-->
        <commentGenerator>
            <!--关闭所有注释-->
            <property name="suppressAllComments" value="true" />
            <!--将数据库中的注释加入代码中-->
            <!--<property name="addRemarkComments" value="true" />-->
        </commentGenerator>

        <!--数据库连接参数-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/wage?serverTimezone=Asia/Shanghai&amp;characterEncoding=utf8&amp;useSSL=false"
                        userId="root"
                        password="root">
        <property name="nullCatalogMeansCurrent" value="true" />
        </jdbcConnection>

        <!--表对应pojo-->
        <javaModelGenerator targetPackage="com.juzi.wage.model.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--mapper映射文件-->
        <sqlMapGenerator targetPackage="mybatis.mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <!--mapper接口类-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.juzi.wage.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <!--要生成的表-->
        <table tableName="teacher" domainObjectName="Teacher" />
        <table tableName="wage" domainObjectName="Wage" />
    </context>
</generatorConfiguration>
